body {

    background-color: #f3f5fc;

}

header {

    background-color: #f3f5fc;

}

.logo {

    margin-top: 30px;

}

.container {

    background-color: #f3f5fc;
    display: flex;
    justify-content: space-around;

}

.text {

    background-color: #f3f5fc;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 32px;

}

#campo_texto {

    border: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    background-color: #f3f5fc;
    font-size: 32px;
    margin-top: 30%;

}

.buttons {

    margin-top: 140%;

}

spam {

    font-size: 8px;
    display: block;

}

.do_button {

    background-color: #0a3871;
    color: white;
    border-radius: 10px;
    border-color: #0a3871;
    width: 150px;
    height: 40px;
    font-size: 16px;

}

.undo_button {

    background-color: #d8dfe8;
    color: #3d628f;
    border-radius: 10px;
    border-color: #3d628f;
    width: 150px;
    height: 40px;
    font-size: 16px;

}

.texto_criptografado {

    border-radius: 10px;
    background-color: white;
    height: 844px;
    padding: 10px;
    width: 400px;

}

.msg_side {

    text-align: center;

}

.img_lupa {

    width: 60%;
    height: 60%;
    margin-top: 10%;
    margin-left: 15%;

}

.msg_cripto {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;

}

.msg_cripto_2 {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 16px;

}

.copy_button_end {

    text-align: center;
    margin-top: 90%;

}

.div_msg {

    font-family: "Inter", sans-serif;
    font-size: 30px;
    height: 100px;
    text-align: center;

}

.copy_button {

    background-color: white;
    color: #3d628f;
    border-radius: 10px;
    border-color: #3d628f;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-family: "Inter", sans-serif;

}