body {

    background-color: #f3f5fc;

}

.container {

    background-color: #f3f5fc;
    display: flex;

}

.logo {

   width: 120px;
   height: 48px;
   margin-top:40px;
   margin-left: 40px;
   gap:40px;

}

.text {

    background-color: #f3f5fc;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 2rem; 

}

#campo_texto {

    border: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    background-color: #f3f5fc;
    font-size: 32px;
    margin-top: 30%;

}

.buttons {

    margin-top: 585px;
}

spam {

    font-size: 0.5rem;
    display: block;

}

.do_button {

    background-color: #0a3871;
    color: white;
    border-radius: 24px;
    border-color: #0a3871;
    width: 328px;
    height: 67px;
    font-size: 1rem;
    gap: 8px;
    padding: 24px;   

}

.undo_button {

    background-color: #d8dfe8;
    color: #3d628f;
    border-radius: 24px;
    border-color: #3d628f;
    width: 328px;
    height: 67px;
    font-size: 1rem;
    gap: 8px;

}

.texto_criptografado {
    display: flex;
    margin-top: 40px;
    margin-left:600px;
    border-radius: 32px;
    background-color: white;
    height: 944px;
    width: 400px;
   
}

.msg_side {

    text-align: center;

}

.img_lupa {

    width: 60%;
    height: 60%;
    margin-top: 10%;
    margin-left: 15%;

}

.msg_cripto {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}

.msg_cripto_2 {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;

}

.copy_button_end {

    text-align: center;
    margin-top: 585px;

}

.div_msg {

    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    height: 100px;
    text-align: center;

}

.copy_button {

    background-color: white;
    color: #3d628f;
    border-radius: 24px;
    border-color: #3d628f;
    width: 328px;
    height: 67px;
    gap: 8px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin-top: 140px;

}



@media (max-width:768px) {

    .texto_criptografado {
        background-color:red;

        
    }

    .img_lupa {
        display: none;
    }

}