body {

    background-color: #f3f5fc;

}

.container {

    background-color: #f3f5fc;
    display: flex;
    justify-content: space-around;
}

.logo {

    width: 120px;
    height: 48px;
    margin-top: 40px;
    margin-left: 40px;
    gap: 40px;

}

.text {

    background-color: #f3f5fc;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 2rem;

}

#campo_texto {

    border: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    background-color: #f3f5fc;
    font-size: 32px;
    margin-top: 30%;

}

.buttons {

    margin-top: 500px;


}

spam {

    font-size: 0.5rem;
    display: block;

}

.do_button {

    background-color: #0a3871;
    color: white;
    border-radius: 24px;
    border-color: #0a3871;
    width: 328px;
    height: 67px;
    font-size: 1rem;
    gap: 8px;
    padding: 24px;


}

.undo_button {

    background-color: #d8dfe8;
    color: #3d628f;
    border-radius: 24px;
    border-color: #3d628f;
    width: 328px;
    height: 67px;
    font-size: 1rem;
    gap: 8px;


}

.texto_criptografado {

    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 32px;
    background-color: white;
    height: 844px;
    width: 400px;

}

.msg_side {

    text-align: center;

}

.img_lupa {

    width: 60%;
    height: 60%;
    margin-top: 10%;
    margin-left: 15%;

}

.msg_cripto {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

}

.msg_cripto_2 {

    text-align: center;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;

}

.copy_button_end {

    text-align: center;
    margin-top: 75%
}

.div_msg {

    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    height: 100px;
    text-align: center;

}

.copy_button {

    background-color: white;
    color: #3d628f;
    border-radius: 24px;
    border-color: #3d628f;
    width: 328px;
    height: 67px;
    gap: 8px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;

}


/*@media (max-width:1298px) {

    .do_button {

        width: 300px;
    }

    .undo_button {

        width: 300px;
    }
}*/



@media (max-width:768px) {

   

    .container {

        display: block;

    }

    .logo {
        margin-left: 40px;
    }


    .buttons {

        width: 688px;
        margin-left: 10px;
    }

    .do_button {

        width: 280px;

    }

    .undo_button {

        width: 280px;

    }

    .texto_criptografado {
        margin-left: 20px;
        height: 343px;
        width: 610px;
        margin-left: 5px
      
    }

    .msg_side {

        padding-top: 30px;

    }

    .img_lupa {

        display: none;

    }

    .copy_button_end {

        margin-top: 10%;
        width: 628px;
        height: 67px;
        border-radius: 24px;

    }
}

@media (max-width:375px) {



    .text {
       
        font-size: 32px;

    }

    .buttons {

        margin-top: 100px;
        padding-bottom: 10px;

    }

    .do_button {

        border-radius: 24px;
        margin-bottom: 20px;
        display: block;

    }

    .undo_button {
        display: block;
        border-radius: 24px;

    }

    .texto_criptografado {

        font-size: 16px;
        width: 327px;
        margin-left: 5px;

    }

    .copy_button_end {

        width: 279px;
        border-radius: 24px;
        height: 67px;
        gap: 8px;

    }

}